DJANGO_DEBUG=TRUE
DJANGO_SECRET_KEY="some_secret_key"
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DATABASE_ENGINE='django.db.backends.postgresql_psycopg2'
DJANGO_DATABASE_HOST=db
DJANGO_DATABASE_PORT=5432
DJANGO_MEDIA_ROOT=test_task\media
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=starnavi_test_task